[Unit]
Description=Let Hyperion control OpenHAB lights
Documentation=https://github.com/JarnoBoks/hyperion-openhab-bridge
Requisite=network.target
Wants=network-online.target
After=network-online.target
After=systemd-resolved.service

[Service]
User=hyperion
Environment=OH_TOKEN=[API TOKEN] \
            OH_URL=[OPENHAB_URL] \
            NODE_EXTRA_CA_CERTS=[PATH_TO_CUSTOM_CA_ROOT_CERTIFICATE] \
            NODE_VERSION=24.11.0 \
            NODE_ENV=production \
WorkingDirectory=/home/hyperion/.hyperion-openhab-bridge
ExecStart=/home/hyperion/.nvm/nvm-exec node /home/hyperion/.hyperion-openhab-bridge/index.js
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
