[Unit]
Description=Let Hyperion control OpenHAB lights
Documentation=https://git.kuba-orlik.name/kuba/hyperion-home-assistant-bridge
Requisite=network.target
Wants=network-online.target
After=network-online.target
After=systemd-resolved.service

[Service]
Environment=OH_TOKEN=[API TOKEN] \
            OH_URL=[OPENHAB_URL]
ExecStart=node /root/.hyperion-oh/index.js
TimeoutStopSec=5
KillMode=mixed
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target